@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .card {
        @apply shadow-md hover:shadow-2xl transition duration-200 ease-in-out rounded-3xl bg-white p-7 max-w-sm lg:max-w-md mx-auto
    }
}

.smallGridRow {

max-width: 20px;

}

.content {
    margin-left: 25%;
    margin-right: 25%;
}

.circularBackground {
    border-radius: 100%;
    color: red;
    width: 20px;
    height: 20px;
}

